/*-------科目----------*/
function formatSubject(subject){
    switch (subject) {
        case "kuaiji":
            return "会计";
        case "jingji":
            return "经济法";
        case "shuifa":
            return "税法";
        case "shenji":
            return "审计";
        case "caiwu":
            return "财务管理";
        case "fengkong":
            return "公司成本与风险管理";
        default:
            return subject;
    }
};
/*------选项类型-------*/
function formatQuestionType(type){
    switch(type){
        case "single":
            return "单选题";
        case "double":
            return "多选题";
    }
};
/*-------判断元素是否在数组里-----------*/
function isInArray(key, arr){
    if(arr.indexOf(key) >= 0){
        return true;
    }else{
        return false;
    };
};
/*-------格式化选项-------------*/
function formatAnswers(answers){
    return answers.join(",");
}
module.exports = {
    formatSubject: formatSubject,
    formatQuestionType: formatQuestionType,
    isInArray: isInArray,
    formatAnswers: formatAnswers
};